@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html{
	scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    max-width: 100%;
    height: 90px;
    margin-right: auto;
}
.logo1{
    cursor: pointer;
    max-width: 100%;
    height: 125px;
   padding-left: 46%;
   padding-top: 30px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links1{
    list-style: none;
}

.nav_links1 li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #d3850a;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}
.button4 {
 /* Green */
    border: none;
    color: white;
    text-align: center;
    align-self: center;
    align-content: center;
    margin-left: 45%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

img.animatedgif{
    width: 500px;
    height: auto;
    float:right;   
}

hr.new4{
    border-top: 3px dotted white; 
}

button:hover{
        background-color:#d3850a;         
}

footer {
    position: relative;
    width: 100%;
    height: 10px;
    background: red;
    overflow: hidden;
}

footer .wave{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}
.parallax{
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


