*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.containers{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.counters{
    background: linear-gradient(180deg, #023e8a, #03045e);
    color: white;
    padding: 40px 20px;
    border-top: 3px white;
}

.counters .containers{
    display: grid;
    grid-gap: 30px;
    grid-template-columns:repeat(4,1fr);
    text-align: center;
}

.counters .counter{
    font-size: 45px;
    margin: 10px 0;
}

@media(max-width: 700px){
    .counters.containers{
    grid-template-columns: repeat(2,1fr);
    }
}

.counters.containers > div:nth-of-type(1),.counters.containers> div:nth-of-type(2){
    border-bottom: 1px;
    padding-bottom: 20px;
    
}