/*Start global*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: gill sans;
	color: black;
	scroll-behavior: smooth;
}

body{
	width: 100%;
	height: 100%;
	background: url("images/background.jpg") no-repeat center fixed;
	background-size: cover;
}

a{
	text-decoration: none;
	color: white;
}

p{
	font-size: 1.8rem;
	font-weight: 300;
}

/*End of global*/

/*Start of header*/
header{
	width: 100%;
	margin-top: 60px;
	padding-top: 30px;
	text-align: center;
	font-size: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  float: center;
  display: inline-flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.titleofpage{
	font-family: arial black;
	color: #eee6de;
	font-size: 400%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2px;
}

.titleofpage h1{
	border-style: solid;
	width: 50%;
	border-width: 10px;
	border-color: #eee6de;
	padding: 2px;
	margin-left: 25%;
	font-size: 50pt;

}

.basicinfo img{
	border-radius: 50%;
	border: 15px solid #040d0d;
	display: block;
  	margin-left: 380px;
  	width: 15%;
}

.basicinfo{ 
	margin-top: 60px;
	padding-top: 0.1px;
	padding-bottom: 15px;
	background: linear-gradient(120deg, #040d0d 0px, #040d0d 500px, hsl(356,34.9%,83.1%) 250px, hsl(356,34.9%,83.1%)
	);
	border-left: black;
}
/*End of Header*/

/*Start of Body*/
/*Start of Basic Info*/

body {
	margin-top: 20px;
}
.containersabasicinfo{
	color: white;
	font-family: arial black;
	margin: 0;
	padding:1px;
}
#basicinfo-bio h1{
	font-family: arial black;
	position: absolute;
	left: 720px;
	top: 310px;
	color: #040d0d;
	font-size: 450%;
	letter-spacing: 0.5em;
}

.basicinfo-heading h1{
	position: absolute;
	left: 25px;
	top: 295px;
	font-size: 920%;
	padding-top: 10px;
	color: #eee6de;
}
.basicinfo-heading h2{
	position: absolute;
	left: 20px;
	top: 380px;
	font-size: 820%;
	padding-top: 10px;
	color: #eee6de;
}

.basicinfo-qa{
	font-family: Arial;
}

.basicinfo-name h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 390px;
	left: 595px;
	font-size: 200%;
}

.basicinfo-age h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 430px;
	left: 590px;
	font-size: 200%;
}

.basicinfo-birthday h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 470px;
	left: 570px;
	font-size: 200%;
}
.basicinfo-answer-name h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 392px;
	left: 705px;
	font-size: 200%;
}
.basicinfo-answer-age h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 432px;
	left: 705px;
	font-size: 200%;
}

.basicinfo-answer-birthday h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 472px;
	left: 700px;
	font-size: 200%;
}

.basicinfo-4 h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 390px;
	left: 50em;
	font-size: 200%;
}

.basicinfo-5 h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 430px;
	left: 50em;
	font-size: 200%;
}

.basicinfo-6 h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 470px;
	left: 50em;
	font-size: 200%;
}
.basicinfo-answer-4 h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 392px;
	left: 57em;
	font-size: 200%;
}
.basicinfo-answer-5 h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 432px;
	left: 57em;
	font-size: 200%;
}

.basicinfo-answer-6 h2{
	position: absolute;
	display: flex;
	color: #040d0d;
	top: 472px;
	left: 57em;
	font-size: 200%;
}
/*End of Basic Info*/
/*Start of Hobbies*/

.gridcontainer{
    display: grid;
    grid-template-columns: auto auto;
}
.hobbies-space{
	padding: 40px 30px 30px;
}
.gridlikes{
	display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.hobbies-heading {
	border-bottom: 10px solid #040d0d;
	padding-bottom: 4em;
	margin-left: 2px;
}
.hobbies-heading h1{
	font-family: arial black;
	font-size: 820%;
	color: #040d0d;
	text-align: right;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.hobbies-heading h3{
	font-family: arial black;
	font-size: 381%;
	color: #040d0d;
	text-align: right;
	position: relative;
	line-height: 2px

}
.my-hobbies {
	padding-top: 70px;
}
.swimming-item h2 {
	text-align: left;
	text-transform: uppercase;
	font-family: arial black;
	font-size: 380%;
	color: black;
	padding-left: 100px;
	margin: -70px;
}

.swimming-item p {
	position: relative;
	top: 80px;
	font-family: arial;
	color: #101e1f;
	text-align: left;
	line-height: 1.5em;
	font-size: 19px;
	margin-left: -17px;
	margin-right: 25px;
}

.calligraphy-item h2 {
	text-align: right;
	text-transform: uppercase;
	font-family: arial black;
	font-size: 380%;
	color: black;
	padding-right: 30px;
	margin-top: -170px;
}

.calligraphy-item p {
	position: relative;
	top: 10px;
	left: 4px;
	font-family: arial;
	color: #101e1f;
	text-align: right;
	line-height: 1.5em;
	font-size: 19px;
	padding-right: 35px;
	padding-left: 20px;
}

.poetry-item h2 {
	text-align: left;
	text-transform: uppercase;
	font-family: arial black;
	font-size: 380%;
	color: black;
	position: relative;
	top: -0.7em;
	margin-left: -3em;
}

.poetry-item p {
	position: relative;
	top: -0.8em;
	font-family: arial;
	color: #101e1f;
	text-align: left;
	line-height: 1.5em;
	font-size: 19px;
	margin-left: -6em;
	margin-right: 50px;
}

.button {
  display: inline;
  border-radius: 15px;
  background-color: #919b9d;
  border: none;
  color: #101e1f;
  text-align: center;
  font-size: 19px;
  font-family: arial;
  padding: 7px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -0.5em;
  margin-bottom: -13em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*End of Hobbies*/
/*Start of More About Me*/

.moreAboutMe-heading h1{
	font-family: arial black;
	font-size: 800%;
	text-transform: uppercase;
	color: #040d0d;
	text-align: left;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: -0.3em;
	padding-bottom: -2em;

}

.moreAboutMe-heading h3 {
	font-family: arial black;
	font-size: 3.85em;
	text-transform: uppercase;
	color: #040d0d;
	text-align: left;
	line-height: 10px;
	position: relative;
	left: 4px;
	top: -8px;
	padding-bottom: 0.6em;
}

.moreAboutMe-heading {
	border-bottom: 10px solid #040d0d;
	margin-left: 2px;
}

.mae-description h3{
	font-family: arial black;
	font-size: 60px;
	color: #040d0d;
	text-align: center;
	text-transform: uppercase;
}

.mae-description p {
	font-family: arial;
	font-size: 19px;
	color: #404040;
	text-align: center;
	position: relative;
}

#bp p{
	position: relative;
	top: 13px;
}

#bp h3{
	position: relative;
	left: -0.4em;
	top: 13px;
}

#stars h3 {
	font-family: arial black;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 8px;
}
#stars p{
	font-family: arial;
	font-size: 19px;
	color: #404040;
	text-align: center;
	position: relative;
	top: 1px;
}

.fdiv{
	margin-bottom: -2em;
    padding: 30px 30px 0px 30px;
}

.codingAndI-heading h1 {
	padding-top: 1px;
	padding-bottom: 20px;
	font-family: arial black;
	font-size: 800%;
	text-transform: uppercase;
	text-align: center;
}

.codingAndI-heading h2 {
	padding-top: 1px;
	padding-bottom: 20px;
	font-family: arial black;
	font-size: 426%;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	top: -1.3em;
	left: 5px;
	text-orientation: vertical-rl;

}

.cai-coding.img {
	margin-top: -2em;
}

.coding-item p {
	font-family: arial;
	font-size: 19px;
	line-height: 1.5em;

}

#gridcai{
	display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    left: 6em;
    margin: -2% 20% 5%;
    padding: 1em;
 }
 .coding {
 	margin-bottom: -5em;
 }

 #footer h3{
 	font-family: arial;
 	font-size: 15px;
 	text-align: right;
 	color: #909090;
 }
 .gridfooter {
	display: flex;
 	align-items: center;
 	justify-content: center;
 	min-height: 5vh;
 	align-items: center;
 	text-align: center;
 	color: #eee6de;
 	font-family: arial;
 	background-color: #202020;
 	margin: 0px;
 	padding: 15px;
}

.sm a{
  margin: 0 20px;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 18px;
  box-shadow: 6px 6px 12px rgba(0,0,0,.15),
              -6px -6px 12px rgba(255,255,255,.1);
  overflow: hidden;
  font-size: 28px;
  transition: .3s linear;
  position: relative;
}

.sm a:hover{
  transform: scale(1.3);
  border-radius: 50%;
}

.sm a i::before{
  position: absolute;
  width: 100%;
  height: 110%;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  top: -14;
  left: 0;
  line-height: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background .5s linear;
}

.sm a:hover i::before{
  background-position: 0% 0%;
}

.fa-facebook-f::before{
  background-image: linear-gradient(135deg,#3b5998 30%,#0a3d62 50%);
}

.fa-twitter::before{
  background-image: linear-gradient(135deg,#1da1f2 30%,#0a3d62 50%);
}

.fa-instagram::before{
  background-image: linear-gradient(135deg,#c32aa3 30%,#0a3d62 50%);
}

